Text Message Send Scenario/SendSMS_MM-Receiver_Sinch.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:unsignedShort" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="to" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="body" type="xs:string" />
        <xs:element minOccurs="0" name="parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="names">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FirstName" type="xs:string" />
                          <xs:element minOccurs="0" name="to" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="default" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>