Text Message Send Scenario/SendSMS_Sender_MKT.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:string" />
        <xs:element minOccurs="0" name="outboundId" type="xs:string" />
        <xs:element minOccurs="0" name="campaignId" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="sourceSystem" type="xs:string" />
        <xs:element minOccurs="0" name="sender" type="xs:string" />
        <xs:element minOccurs="0" name="recipient" type="xs:long" />
        <xs:element minOccurs="0" name="bodyContentPlainText" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>